/*body*/
*,
*::before,
*::after
{
  box-sizing: border-box!important;
}


  body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'montserrat', sans-serif;
    background: rgb(248, 248, 248)!important;
}


/*nav*/

.navbar {
    z-index: 999;  
}
  
.navbar-light .navbar-toggler-icon {
    background: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    top: 1px;
    -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    opacity: 0;
 }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    top: -11px;
   transform: rotate(-135deg);
  }

  .navbar-brand{
    margin-left: -2px!important;
  }
  .navbar-toggler .navbar-toggler-icon {
    background: rgb(0, 0, 0);
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    transition: all 0.5s ease;
    position: relative;
  }
  .nav-item{
    color: #000000;
    background: rgb(255, 255, 255); 
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-left: -50px;
    margin-right: -50px;
  }
  
a, .nav-link{
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    font-weight: 300;
    line-height: 50px;

}
.navbar-toggler:focus {
  outline: none;
}


a, .nav-link:hover{
    color: rgb(172, 170, 170);
  
} 
/***end of nav***/ 

p{
    font-size: 16px;
}

.btn{
background-color: rgb(20, 14, 14)!important;
width: 160px;  
color: white!important;
font-weight: 650!important;
font-size: 16px!important;
padding: 9px!important;
}

.learn{
  background-color: transparent!important;
  border: none;
  font-weight: 600!important;
  font-size: 18px!important;

}

/***clients***/
.clients{
position: relative;
top: -14px!important;
    background: rgb(55, 104, 105);
    height:400px!important;
    color: white;
    padding-top: 20px;

}

.line{
    position: relative;
    top: -7px;

}
/***service***/
.service{
    position: relative;
    
}

.service h3{
    font-size: 25px;
}

.service p{
    font-size: 16px;
}
.service h5{
    font-size: 18px;
}

/***team***/
.team{
    position: relative;
    background-color: rgb(241, 237, 237);
    padding-right: 5%;   
}
.team h4{
    font-size: 20px!important;
}

/***team2***/
.team2 h4{
    font-size: 20px!important;
}
.team2{
    position: relative;
    background-color: rgb(241, 237, 237);
    padding-right: 5%;
}


/*footer*/
footer h2{
    color: rgb(2, 86, 92);
}

footer small{
    font-size: 16px;
}
footer{

        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-cta-bg.png") no-repeat;
        background-size: contain;
        height: 500px!important;
        background-position: 100px 100px;
        position: relative;
        
}


/***RESPONSIVE MEDIA QUERIES***/
@media screen and (min-width:992px) and (max-width:1500px){
    header{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-hero.png") no-repeat;
        background-size: contain;
        height: 800px;
        background-position:490px 20px;
        position: relative;
        
    }
   
    .clients{
            background: rgb(55, 104, 105);
            height:250px!important;
            color: white;
            padding-left: 15%;
            padding-right:5%;
            padding-top: 50px;
          
        }

        .clients h5{
            font-size:24px!important;
        
        }

        .service h3{
            font-size: 45px;
        }

        .hero h2{
            font-size: 50px;
        }

        footer h3{
    font-size: 40px;
        }
         footer{
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url("images/freelance-copywriter-cta-bg.png") no-repeat;
            background-size: contain;
            height: 600px!important;
            background-position: 600px 0px;
            position: relative;
             }
}

@media screen and (max-width:991px) and (min-width:769px){
    header{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-hero.png") no-repeat;
        background-size: contain;
        height: 700px;
        background-position:200px 10px;
        position: relative;
        
    }
    .clients{
        position: relative;
        background: rgb(55, 104, 105);
            height:300px!important;
            color: white;
            padding-left: 10%;
            padding-right:10% ;
            padding-top: 20px;
            font-size:28px!important;
        
        }
        .clients h5{
            font-size:21px!important;
        
        }
      
        footer h3{
    font-size: 40px;
        }

        footer{

            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url("images/freelance-copywriter-cta-bg.png") no-repeat;
            background-size: contain;
            height: 550px!important;
            background-position: 400px 0px;
            position: relative;
            
    }
}


@media screen and (max-width:768px){
    header{
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-hero.png") no-repeat;
        background-size: contain;
        height: 682px;
        background-position:100px 100px;
        position: relative;
        
    }
    .clients{

        background: rgb(55, 104, 105);
            height:390px!important;
            color: white;
            padding-left: 10%;
            padding-right:10% ;
            padding-top: 20px;
            font-size:28px!important;
        
        }
        .clients h5{
            font-size:18px!important;
        
        }
      
        footer h3{
    font-size: 30px;
        }

        footer{

            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url("images/freelance-copywriter-cta-bg.png") no-repeat;
            background-size: contain;
            height: 500px!important;
            background-position: 130px 80px;
            position: relative;
            
    }

    
}


@media screen and (max-width:575.98px) and (min-width:326px){
    header{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-hero.png") no-repeat;
        background-size: contain;
        height: 678px;
        width: 100%;
        background-position:50px 300px;
        position: relative;
        
    }

    .clients{

      background: rgb(55, 104, 105);
          height:600px!important;
          color: white;
          
          padding-top: 20px;
      
      }

      .clients ul{
        padding-left: 20%!important;
        padding-right:20%!important;
      }
      .clients h5{
          font-size:15px!important;
      
      }
   
    footer h3{
font-size: 30px;
    }

    footer{

        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-cta-bg.png") no-repeat;
        background-size: contain;
        height: 390px!important;
        background-position: 120px 50px;
        position: relative;
        margin-bottom: 0px !important;
        overflow-y: hidden;
        
}
}


@media screen and (max-width:325.98px){
    header{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("images/freelance-copywriter-hero.png") no-repeat;
        background-size: contain;
        height: 700px;
        width: 100%;
        background-position:50px 150px;
        position: relative;
        
    }
    .clients{

      background: rgb(55, 104, 105);
          height:390px!important;
          color: white;
          padding-left: 10%;
          padding-right:10% ;
          padding-top: 20px;
          font-size:16px!important;
      
      }
      .clients h5{
          font-size:18px!important;
      
      }
}
